[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-smorest = "*"
python-dotenv = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.9"
